Repository jcvaldes/microfrontends: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-container-job, build-auth-job, build-marketing-job, build-dashboard-job

.gitlab-ci.yml:

stages:
  - build
variables:
  PRODUCTION_DOMAIN: $PRODUCTION_DOMAIN # Define esta variable en tu proyecto GitLab
  AWS_S3_BUCKET_NAME: $AWS_S3_BUCKET_NAME # Define esta variable en tu proyecto GitLab
  AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID # Define esta variable en tu proyecto GitLab
  AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY # Define esta variable en tu proyecto GitLab
  AWS_DISTRIBUTION_ID: $AWS_DISTRIBUTION_ID # Define esta variable en tu proyecto GitLab
  DEFAULT_WORKING_DIRECTORY: 'packages'

build-container-job:
  stage: build
  script:
    - apt-get update -qy
    - apt-get install -y nodejs npm awscli
    - cd $DEFAULT_WORKING_DIRECTORY/container
    - npm install
    - npm run build
    - aws s3 sync dist s3://${AWS_S3_BUCKET_NAME}/container/latest
      --region us-east-1
    - aws cloudfront create-invalidation
      --distribution-id $AWS_DISTRIBUTION_ID
      --paths "/container/latest/index.html"
      --region us-east-1
    - echo $CI_COMMIT_REF_NAME
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
      changes:
        paths:
          - packages/container/**/*

build-auth-job:
  stage: build
  script:
    - apt-get update -qy
    - apt-get install -y nodejs npm awscli
    - cd $DEFAULT_WORKING_DIRECTORY/auth
    - npm install
    - npm run build
    - aws s3 sync dist s3://${AWS_S3_BUCKET_NAME}/auth/latest
      --region us-east-1
    - aws cloudfront create-invalidation
      --distribution-id $AWS_DISTRIBUTION_ID
      --paths "/auth/latest/index.html"
      --region us-east-1
    - echo $CI_COMMIT_REF_NAME
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
      changes:
        paths:
          - packages/auth/**/*

build-marketing-job:
  stage: build
  script:
    - apt-get update -qy
    - apt-get install -y nodejs npm awscli
    - cd $DEFAULT_WORKING_DIRECTORY/marketing
    - npm install
    - npm run build
    - aws s3 sync dist s3://${AWS_S3_BUCKET_NAME}/marketing/latest
      --region us-east-1
    - aws cloudfront create-invalidation
      --distribution-id $AWS_DISTRIBUTION_ID
      --paths "/marketing/latest/index.html"
      --region us-east-1
    - echo $CI_COMMIT_REF_NAME
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
      changes:
        paths:
          - packages/marketing/**/*
build-dashboard-job:
  stage: build
  script:
    - apt-get update -qy
    - apt-get install -y nodejs npm awscli
    - cd $DEFAULT_WORKING_DIRECTORY/dashboard
    - npm install
    - npm run build
    - aws s3 sync dist s3://${AWS_S3_BUCKET_NAME}/dashboard/latest
      --region us-east-1
    - aws cloudfront create-invalidation
      --distribution-id $AWS_DISTRIBUTION_ID
      --paths "/dashboard/latest/index.html"
      --region us-east-1
    - echo $CI_COMMIT_REF_NAME
  rules:
    - if: $CI_COMMIT_REF_NAME == "master"
      changes:
        paths:
          - packages/dashboard/**/*

change gitlab ci
  .gitlab-ci.yml
Due: none

change gitlab ci
  packages/auth/package.json
  packages/container/package.json
  packages/dashboard/package.json
  packages/marketing/package.json
Due: build-container-job, build-auth-job, build-marketing-job, build-dashboard-job

change gitlab ci
  readme.md
Due: none

change gitlab ci
  packages/marketing/package.json
Due: build-marketing-job

fixes
  package.json
  packages/container/config/webpack.prod.js
  packages/container/package.json
  yarn.lock
Due: build-container-job

fixes
  packages/container/package.json
Due: build-container-job

change landing
  packages/marketing/src/components/Landing.js
Due: build-marketing-job
